<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Catalogs</title>
  </head>
  <body>
    <h1>Catalogs</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Category</th>
        <th>Grocery Store</th>
      </tr>
      {% if storebranches %} {% for c in storebranches %}
      <tr>
        <td>{{c.cat.id}}</td>
        <td>{{c.cat }}</td>
        <td>{{c.g}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
