<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jobs</title>
  </head>
  <body>
    <h1>Jobs</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Name</th>
        <th>address</th>
        <th>contact_info</th>
      </tr>
      {% for customer in Customer %}
      <tr>
        <td>{{customer.c_id}}</td>
        <td>{{customer.c_name }}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.contact_info}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
