<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jobs</title>
  </head>
  <body>
    <h1>Jobs</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Name</th>
        <th>address</th>
        <th>contact_info</th>
      </tr>
      {% if customers %} {% for c in customers %}
      <tr>
        <td>{{c.c_id}}</td>
        <td>{{c.c_name }}</td>
        <td>{{c.address}}</td>
        <td>{{c.contact_info}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
