<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Drivers</title>
  </head>
  <body>
    <h1>Drivers</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Vehicle Info</th>
      </tr>
      {% if drivers %} {% for c in drivers %}
      <tr>
        <td>{{c.d_id}}</td>
        <td>{{c.d_name }}</td>
        <td>{{c.rating}}</td>
        <td>{{c.vehicle_info}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
