<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grocery Stores</title>
  </head>
  <body>
    <h1>Grocery Stores</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Name</th>
        <th>Product Type</th>
      </tr>
      {% if groceryStores %} {% for c in groceryStores %}
      <tr>
        <td>{{c.v_id}}</td>
        <td>{{c.v_name }}</td>
        <td>{{c.product_type}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
