<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Menus</title>
  </head>
  <body>
    <h1>Menus</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>Menu ID</th>
        <th>Category</th>
        <th>Restaurant Branch ID</th>
      </tr>
      {% if menus %} {% for c in menus %}
      <tr>
        <td>{{c.m_id}}</td>
        <td>{{c.cat }}</td>
        <td>{{c.r}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
