<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Branches</title>
  </head>
  <body>
    <h1>Restaurant Branches</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>Branch ID</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Restaurant ID</th>
      </tr>
      {% if restaurantbranches %} {% for c in restaurantbranches %}
      <tr>
        <td>{{c.r_id}}</td>
        <td>{{c.r_location }}</td>
        <td>{{c.r_phone}}</td>
        <td>{{c.v}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
