<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grocery Store Branches</title>
  </head>
  <body>
    <h1>Grocery Store Branches</h1>
    <table width="100%" border="1">
      <tr style="background-color: lightgray">
        <th>ID</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Grocery Store</th>
      </tr>
      {% if storebranches %} {% for c in storebranches %}
      <tr>
        <td>{{c.g_id}}</td>
        <td>{{c.g_name }}</td>
        <td>{{c.g_phone}}</td>
        <td>{{c.v}}</td>
      </tr>
      {% endfor %} {% else %}
      <strong>There are no categories present.</strong>
      {% endif %}
    </table>
  </body>
</html>
